*{margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body{
display: flex;
}


.boxblack{
display: flex;
padding: 60px 20px;
width: 200px;
height: 100vh;

background-color: black;
border-radius: 0px 10px 10px 0px;
margin-right: 20px;
}

.logoeatfast{
display: flex;
justify-content: left;
align-items: center;
text-align: center;
margin-bottom: 50px;
}

.isotipo{
margin-right: 20px;
width: 40px;
}

.logotipo{
width: 80px;
}

.item{ display: flex;
justify-content: left;
align-items: center;
text-align: center;
margin-bottom: 50px;}

.itemimagen{
width: 40px;
border-radius: 10px;
margin-right: 20px;
}

.itemtext{
font-family: 'Public Sans';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 15px;

color: white;
text-decoration: none;
}

.search{
display: flex;
margin: 20px 0px;
padding: 10px;

font-family: 'Public Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;

color: #BDBCBC;


justify-content: left;
align-items: center;
text-align: left;

width: 800px;
height: 40px;

background: rgba(246, 246, 246, 0.5);
border-radius: 10px;
}

.banner{
display: flex;
background-image: url(Banquete\ para\ 2.jpg);
width: 800px;
height: 330px;

background-size: cover;
background-position: center;

border-radius: 10px;
margin-bottom: 20px;


}

.botones{
padding: 20px 0px;
margin-bottom: 20px;
}

.botonestext{

font-family: 'Public Sans';
font-style: normal;
font-weight: 200;
font-size: 12px;
line-height: 15px;

text-align: center;

color: #FFFFFF;

font-size: 12px;
padding: 28px 56px;
text-decoration: none;
border-radius: 10px;
margin-right: 20px;

background-color: black;
}


